.squares {
    background: #272727;
    border: none;
    font-size: 5rem;
    /* font-weight: 800; */
    cursor: pointer;
    outline: none;
  }
  
  .X {
    color: red;
  }
  .O {
    color: green;
  }